Client/Service References/MasterService/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MyGames.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyGames.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.106:9998/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="ser:guid" />
      <xs:element minOccurs="0" name="CurrentStamina" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentXP" type="xs:int" />
      <xs:element minOccurs="0" name="MId" type="ser:guid" />
      <xs:element minOccurs="0" name="MLevel" type="xs:int" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxStamina" type="xs:int" />
      <xs:element minOccurs="0" name="MaxXP" type="xs:int" />
      <xs:element minOccurs="0" name="OnlineCount" type="xs:int" />
      <xs:element minOccurs="0" name="StaminaCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Master" nillable="true" type="tns:Master" />
</xs:schema>